section[data-panel='double-slider-value'] {
	--slider-bg: #4c5555;
	--slider-bg-darker: #3c4545;
	--slider-bg-lighter: #5c6565;
	--line-color: #000;

	position: absolute;
	right: 0;
	bottom: 30%;
	transform: rotate(-90deg);
	display: flex;
	flex-direction: column;
	gap: 1em;

	& input {
		--height: clamp(10px, 100px, 10vw);
		color: var(--line-color);
		appearance: none;
		height: var(--height);
		width: clamp(60px, 600px, 70vh);
		border-radius: 4em;
		position: relative;
		/* 1e gradient lijntje in het midden */ /* prettier-ignore */
		background: linear-gradient(
					to bottom,
					transparent 20%,
					var(--slider-bg) 20%, 45%,
					currentColor 0, 55%,
					var(--slider-bg) 55%, 80%,
					transparent 0
				) 0 0, no-repeat,
			/* 2e gradient horizontale lijntjes */
				linear-gradient(
					to right,
					currentColor 4%,
					transparent 0,
					transparent 50%,
					currentColor 0, 54%,
					transparent 0
				) 15% 0, repeat;
		background-color: var(--slider-bg);
		background-size: 40% 100%;

		/* het vastpak dingetjes */
		&::-webkit-slider-thumb {
			appearance: none;
			width: 50px;
			height: 30px;
			border: solid var(--line-color) 2px;
			border-radius: 10px;
			margin-top: 35.4px;
			margin-top: calc(var(--height) * .354);

			background: var(--slider-bg) linear-gradient(to right, var(--slider-bg-lighter) 1px, transparent 1px);
			background-size: 4px;
		}

		/* de track zelf */
		&::-webkit-slider-runnable-track {
			height: 100%;
		}

		&::before,
		&::after {
			box-sizing: content-box;
			font-family: 'digital-7';
			position: absolute;
			font-size: 3rem;
			width: 2ch;
			width: calc(2ch + .8rem);
			left: -4.8rem;
			bottom: 1.25rem;
			transform: rotate(90deg);
			/* cool: zorgt ervoor dat er altijd 2 characters worden getoond en dat tekst overflowed aan linkerkant */
			direction: rtl;
			overflow: hidden;
			letter-spacing: .3rem;

			border-radius: 2px;
			border: solid var(--screen-color);
			border-width: 5px 15px;
		}

		&::before {
			content: '88';
			color: var(--digital-letters-placeholder);
			background: var(--screen-color);
		}

		&::after {
			content: '0'attr(data-value);
			color: var(--digital-letters);
			text-shadow: 0 0 .1em currentColor;
			box-shadow: 0 0 .1em currentColor;
			box-shadow: 0 0 0 2px var(--line-color);
		}
	}
}
