section[data-panel='double-slider-value'] {
	--slider-bg: #4c5555;
	--slider-bg-darker: #3c4545;
	--slider-bg-lighter: #5c6565;
	--line-color: #000;

	grid-column: 3 / 4;
	grid-row: 1 / 3;
	place-self: center;
	display: flex;
	flex-direction: column;
	gap: .5em;
	width: 100%;
	max-width: 500px;
	height: fit-content;
	background: red;
	position: relative;
	margin-top: calc(0px - 4ch - 1.3rem);

	& input {
		--input-height: clamp(10px, 60px, 10vh);
		--thumb-height: calc(var(--input-height) / 2);
		--thumb-margin-top: calc(var(--input-height) / 4);
		color: var(--line-color);
		appearance: none;
		height: clamp(10px, 60px, 10vw);
		height: var(--input-height);
		border-radius: 4em;
		/* position: relative; */
		/* 1e gradient lijntje in het midden */ /* prettier-ignore */
		background: linear-gradient(
					to bottom,
					transparent 20%,
					var(--slider-bg) 20%, 45%,
					currentColor 0, 55%,
					var(--slider-bg) 55%, 80%,
					transparent 0
				) 0 0, no-repeat,
			/* 2e gradient kleine zij-lijntjes */
				linear-gradient(
					to right,
					currentColor 4%,
					transparent 0,
					transparent 50%,
					currentColor 0, 54%,
					transparent 0
				) 15% 0, repeat;
		background-color: var(--slider-bg);
		background-size: 40% 100%;

		/* het vastpak dingetjes */
		&::-webkit-slider-thumb {
			appearance: none;
			width: 50px;
			height: var(--thumb-height);
			border: solid var(--line-color) 2px;
			border-radius: 10px;
			margin-top: var(--thumb-margin-top);

			background: var(--slider-bg)
				linear-gradient(to right, var(--slider-bg-lighter) 1px, transparent 1px);
			background-size: 4px;
		}

		/* de track zelf */
		&::-webkit-slider-runnable-track {
			height: 100%;
		}

		&::before,
		&::after {
			box-sizing: content-box;
			font-family: 'digital-7';
			position: absolute;
			font-size: 3em;
			width: calc(2ch + 0.8rem);
			bottom: calc(0px - 2ch - 1.3rem);
			/* transform: translateX(-50%); */
			/* cool: zorgt ervoor dat er altijd 2 characters worden getoond en dat tekst overflowed aan linkerkant */
			direction: rtl;
			overflow: hidden;
			letter-spacing: 0.3rem;

			border-radius: 2px;
			border: solid var(--screen-color);
			border-width: 5px 15px;
			pointer-events: none;
		}

		&::before {
			content: '88';
			color: var(--digital-letters-placeholder);
			background: var(--screen-color);
		}

		&::after {
			content: '0' attr(data-value);
			color: var(--digital-letters);
			text-shadow: 0 0 0.1em currentColor;
			box-shadow: 0 0 0 2px var(--line-color);
		}
	}

	& input:first-of-type::before,
	& input:first-of-type::after {
		left: 0;
	}

	& input:last-of-type::before,
	& input:last-of-type::after {
		right: 0;
	}
}