section[data-panel='input-code'] {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;

	& div {
		position: relative;
		font-family: 'digital-7';
		display: flex;
		justify-content: center;
		align-items: center;
		background: var(--screen-color);
		padding: 0.5rem 1em;
		font-size: clamp(2em, 4em, 10cqw);
		width: calc(4ch + 2rem);
		color: var(--digital-letters);
		isolation: isolate;
		border: 3px solid #000;
		transition: all 0.2s ease;
	}

	& input {
		background: none;
		cursor: initial;
		font-family: inherit;
		font-size: inherit;
		width: 4ch;
		border: none;
		outline: none;
		color: inherit;
		text-shadow: 0 0 0.1em currentColor;
	}

	& span {
		position: absolute;
		color: var(--digital-letters-placeholder);
		pointer-events: none;
		z-index: -1;
	}
}
