section[data-panel='master-switch'] {
	--bg: #ccc;
	--transition-duration: 1s;
	--full-width: 15em;
	--stick-height: calc(var(--full-width) / 3.75);
	--ball-width: calc(var(--full-width) / 2.5);
	--ball-z: calc(var(--full-width) / 1.875);
	grid-column: 2 / 3;
	grid-row: 3 / 5;
	place-self: center;

	& input {
		display: none;
		appearance: none;

		&:checked + label {
			&::before {
				transform: none;
			}

			&::after {
				transform: rotateX(85deg) translateZ(var(--ball-z)) rotateX(-85deg);
			}
		}
	}

	& label {
		font-size: clamp(0.5em, 2vmin, 0.75em);
		width: var(--full-width);
		aspect-ratio: 1/2;
		isolation: isolate;
		background-color: var(--bg);
		border-radius: 1em;

		/* tekst */
		display: grid;
		place-content: end center;
		padding: 0.5em 0;
		color: black;

		background-image: linear-gradient(to right, var(--bg) 0, var(--bg) 4em),
			linear-gradient(to right, #000, #000),
			radial-gradient(circle, #000 2em, transparent 2em),
			radial-gradient(circle, #000 2em, transparent 2em);
		background-size: 4em 20px, 4em 7em, 4em 7em, 4em 7em;
		background-position: center center, center center, center calc(50% - 3.5em),
			center calc(50% + 3.5em);
		background-repeat: no-repeat;

		place-items: center;
		transform-style: preserve-3d;
		perspective: 40em;
		pointer-events: none;

		&::before,
		&::after {
			content: '';
			position: absolute;
			transition: transform var(--transition-duration) ease-out;
		}
		/***********/
		/* DE STAF */
		/***********/
		&::before {
			bottom: calc(50% + 2em);
			height: var(--stick-height);
			aspect-ratio: 2/4;
			background: silver;
			transform-origin: center calc(100% + calc(var(--stick-height) / 2));

			border-radius: 0 0 50% 50% / 0 0 0.75em 0.75em;
			transform: rotateX(-175deg);
		}

		/**********/
		/* DE BAL */
		/**********/
		&::after {
			height: var(--ball-width);
			aspect-ratio: 1/1;
			background-color: #900;
			border-radius: 50%;
			cursor: pointer;
			pointer-events: none;

			transform: rotateX(-85deg) translateZ(var(--ball-z)) rotateX(85deg);
		}
	}

	& input:focus-visible + label {
		color: red;
		outline: solid 2px var(--bg);
		outline-offset: 5px;
	}
}
