/* bron: code van Sanne */
section[data-panel='radar'] {
	place-self: center;
	grid-column: 3 / 4;
	grid-row: 3 / 5;

	& div {
		--animation-duration: 4s;
		--dot-size: 15px;

		width: 17em;
		aspect-ratio: 1;

		/* prettier-ignore */
		animation: radar var(--animation-duration) infinite linear, 
		dot-blink-1 var(--animation-duration) infinite ease calc(var(--animation-duration) / 2) reverse,
		dot-blink-2 var(--animation-duration) infinite ease calc(var(--animation-duration) / 1.4) reverse, 
		dot-blink-3 var(--animation-duration) infinite ease calc(var(--animation-duration) / 3.5) reverse,
		dot-blink-4 var(--animation-duration) infinite ease calc(var(--animation-duration) / 13.5) reverse;
		background-color: black;
		border: solid 20px black;

		background-image:
		/* het mask */ radial-gradient(
				closest-side,
				transparent 100%,
				black calc(100% + 0.5px)
			),
			/* de woosh */
				conic-gradient(
					from var(--radar-angle, 0deg),
					transparent,
					lime 119.8deg,
					transparent 120.2deg
				),
			/* dots (custom B) ) */
				radial-gradient(
					circle at var(--dot1-position, calc(0px - var(--dot-size))),
					rgba(0 255 0 / var(--opacity1)) calc(var(--dot-size) / 2),
					transparent var(--dot-size)
				),
			radial-gradient(
				circle at var(--dot2-position, calc(0px - var(--dot-size))),
				rgba(0 255 0 / var(--opacity2)) calc(var(--dot-size) / 2),
				transparent var(--dot-size)
			),
			radial-gradient(
				circle at var(--dot3-position, calc(0px - var(--dot-size))),
				rgba(0 255 0 / var(--opacity3)) calc(var(--dot-size) / 2),
				transparent var(--dot-size)
			),
			radial-gradient(
				circle at var(--dot4-position, calc(0px - var(--dot-size))),
				rgba(0 255 0 / var(--opacity4)) calc(var(--dot-size) / 2),
				transparent var(--dot-size)
			),
			/* horizontale lijnen */
				repeating-linear-gradient(
					to right,
					transparent 45% calc(50% - 0.6px),
					lime calc(50% - 0.4px) calc(50% + 0.4px),
					transparent calc(50% + 0.6px) 55%
				),
			/* verticale lijnen */
				repeating-linear-gradient(
					transparent 45% calc(50% - 0.6px),
					lime calc(50% - 0.4px) calc(50% + 0.4px),
					transparent calc(50% + 0.6px) 55%
				),
			/* cirkels */
				repeating-radial-gradient(
					closest-side,
					lime 0 0.4px,
					transparent 0.6px calc(20% - 0.6px),
					lime calc(20% - 0.4px) 20%
				);
	}
}

@keyframes radar {
	to {
		--radar-angle: 360deg;
	}
}

/* zodat de browser weet hoe --radar-angle te animeren */
/* werkt in chrome - wel onderdeel va interop 2023 */
@property --radar-angle {
	syntax: '<angle>';
	inherits: false;
	initial-value: 0deg;
}
