@import url('./default-panel.css');
@import url('./color-checkbox-panel.css');

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul, ol {
	list-style: none;
}

button {
	border: none;
	background: none;
}

:root {
	--main-bg: #86999b;
}
