@import url('./default-panel.css');
@import url('./portrait.css');
@import url('./animation/idle-glow.css');

/* modules */
@import url('./modules/master-switch.css');
@import url('./modules/color-checkbox-panel.css');
@import url('./modules/color-radio-panel.css');


:root {
	--main-bg: #86999b;
	--green-button: rgba(23 138 0 / 0.6);
	--red-button: rgba(255 66 56 / 0.6);

	--glassy-button: rgba(255 255 255 / 0.1);
}



/*********************/
/***** CSS RESET *****/
/*********************/
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul, ol {
	list-style: none;
}

button {
	border: none;
	background: none;
	cursor: pointer;
}

fieldset {
	border: none;
}

input {
	cursor: pointer;
}
