section[data-panel='paper-sheet'] {
	& div {
		aspect-ratio: 1 / 1.414;
		aspect-ratio: 1 / 1.275;
		height: 90%;
		max-width: 100%;
		transform: rotate(10deg);
		transition: all 0.8s ease;
		right: -150%;
		top: -55%;
		font-family: 'kalam', cursive, serif;
		overflow: hidden;
		border-radius: 0 10px 10px 0;
		container-type: size;
	}

	& input {
		box-shadow: 0px 0px 5px 0px #888;
		background-image: repeating-linear-gradient(
			white 0 5.5cqh,
			#4cacf9 0 calc(5.5cqh + 2px)
		);

		/* lijntje aan zijkant */
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 17.5%;
			height: 100%;
			width: 2px;
			background: #f46263;
		}
	}

	& div ul {
		position: absolute;
		inset: calc(5.5cqh + 4px) 5% 0 18.5%;
		padding-left: 0.2em;
		line-height: calc(5.5cqh + 2px);
		font-size: 5cqh;
		list-style-position: inside;

		& li {
			& h2 {
				font-size: 5.5cqh;
			}

			&:not(:has(h2)) {
				&:not(:nth-of-type(6)) {
					margin-bottom: calc(5.5cqh + 2px);
				}
				&:not(:last-of-type)::marker {
					content: '-';
				}
			}
			&:last-of-type {
				font-size: 4cqh;
				text-align: center;
			}
		}
	}

	& div:has(:checked) {
		top: 50%;
		right: 20%;
		transform: rotate(-40deg) translate(50%, -50%) rotateY(-360deg);
	}
}
